@model Assessment6MVC.Models.DishUser


@{
    ViewBag.Title = "DishConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DishConfirmation</h2>


<p>Way to go, @(Model.FirstName + " " + Model.LastName + "!")</p>

<p>Phone: @Model.Phone</p>

<p>You have signed up to bring: @Model.Dish</p>
<p>Description: @Model.Description</p>
<p>Option: @Model.Option</p>


